body {
  background-color: pink;
  color: #3f0a7f;
}

.bg-purp-darkest {
  background-color: #8834ee;
}
.bg-purp-darker {
  background-color: #964bf0;
}
.bg-purp-dark {
  background-color: #a363f2;
}
.bg-purp {
  background-color: #bf92f6;
}
.bg-purp-light {
  background-color: #dbc1fa;
}
.bg-purp-lighter {
  background-color: #e8d9fc;
}
.bg-purp-lightest {
  background-color: #f6f0fe;
}
