body {
  background-color: pink;
  color: #3f0a7f;
}

.bg-purp-darkest {
  background-color: #8834ee;
}
.bg-purp-darker {
  background-color: #964bf0;
}
.bg-purp-dark {
  background-color: #a363f2;
}
.bg-purp {
  background-color: #bf92f6;
}
.bg-purp-light {
  background-color: #dbc1fa;
}
.bg-purp-lighter {
  background-color: #e8d9fc;
}
.bg-purp-lightest {
  background-color: #f6f0fe;
}

.link {
  text-decoration: none;
}

.floaty {
  position: fixed;
  right: 10px;
  bottom: 10px;
}

.headshot {
  height: 150px;
  width: 150px;
  border-radius: 150px;
}

code {
  border: 1px solid #8834ee;
  padding: 3px;
}

p {
  text-indent: 20px;
}
