<!DOCTYPE html>
<html>
  <head>
    <title>Learn Shiny Things</title>
    <style>
      body {
        font-family: "Helvetica Neue", Helvetica, Arial;
      }
    </style>
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.8.0/css/tachyons.min.css"/>
    <link rel="stylesheet" href="style.css"/>
  </head>
  <body class="black bg-purp-lighter">
    <div class="mw8 center min-vh-100 shadow-1">
      <div class="lh-copy">
        <div class="f1 tc pv4 tracked bg-purp-light">Learn Shiny Things</div>

        {{ content }}

      </div>
    </div>
  </body>
</html>
