<!DOCTYPE html>
<html>
  <head>
    <title>Learn Shiny Things</title>
    <style>
      body {
        font-family: "Helvetica Neue", Helvetica, Arial;
      }
    </style>
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.8.0/css/tachyons.min.css"/>
  </head>
  <body class="near-black bg-near-white">
    <div class="bg-white mw8 center min-vh-100 shadow-1">
      <div class="ph5-ns tc bg-white pv4">
        <div class="f1">Learn Shiny Things</div>

        {{ content }}

      </div>
    </div>
  </body>
</html>
